
/* Color Mixins */
$white: #fff


*, body
    box-sizing: border-box
    margin: 0
    padding: 0
    margin: 0



#container
    width: 1920px
    height: 1080px
    overflow: hidden
    background: black


#date-time-panel
    color: $white
    width: 55%
    display: block
    margin: 5.5em auto 0 auto
    position: relative
    text-align: center
    line-height: 6.25em
    letter-spacing: .2rem
    .time, .date, .weather, .greeting
        font-weight: 600
    .time, .date, .weather, .meridiem
        font-family: 'Adelle', sans-serif
    .date, .weather
        font-size: 70px
        display: inline-block
    .time
        font-size: 240px
        text-transform: lowercase
        display: inline
    .weather
        text-align: right
        padding-left: 10%
    .greeting
        font-size: 70px
        text-align: center
        font-family: 'Lato', sans-serif
        font-weight: 100
    .meridiem
        font-size: 70px
        display: inline
        margin-left: 15px
